<ul>
    <li>{{ translations.make_an_appointment }}: {{ options.appointments_phone }}</li>
    <li>{{ translations.phone_at_clinic }}: {{ options.phone }}</li>
    <li>{{ translations.address }}</li>
</ul>