<div class="row flex-center">
    <div>
        <h6>{{ title }}</h6>
    </div>
    <div>
            {% if(image) %}
                <img src="{{ image }}" alt="{{ title }}">
            {% endif %}
    </div>
</div>
{{ content | raw }}
<p>
    <a href="{{ url }}" class="btn btn-primary pull-left">{{ 'read more' | translate }}</a>
</p>